html body {
    margin: 0 0 50px;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: no-wrap;
    align-items: flex-end;
    min-height: 60px;
    padding: 0 0 10px;
    margin: 0 auto 20px;
    border-bottom: thick double slategrey;
}

#name {
    line-height: 1.5;
    padding: 5px 25px;
    font-family: 'KoHo', sans-serif;
    font-weight: lighter;
    color: slategrey;
}

header p{
    margin-bottom: 0px;
}

#nav  {
    display: flex;
    flex-wrap: no-wrap;
    margin-top: auto;
    margin-left: auto;
    justify-content: end;
    padding: 6px;
}

#nav a {
    font-weight: normal;
    margin-top: auto;
    color: slategrey;
}

/* .card-img-top {
    width: 300px;
} */

.skills {
    width: 75%;
    margin: 15px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skill {
    margin: 2px;
    padding: 2px 5px;
    font-size: small;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px 25px 0px 25px;
    background: snow;
}

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }