html body {
    margin: 0 25px 50px;
}


#header {
    margin-bottom: 30px; 
    padding-bottom: 30px;
    color: slategray;
    border-bottom: thick double slategrey;
}

header {
    color: slategrey;
    height: 60px;
    line-height: 1.5;
    padding: 5px 25px;
    font-family: 'KoHo', sans-serif;
    font-weight: lighter;
}

nav a {
    font-weight: normal;
    margin-top: auto;
    color: slategrey;
}

header h1 {
    margin: 0;
    padding: 0;
}

header ul {
    float: right;
    padding: 6px;
}


#blogs {
    display:none;
    padding: 0 25px;
}

h2.blog{
font-size: large;
font-weight: 500;
}

/* .card-img-top {
    width: 300px;
} */

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px 25px 0px 25px;
    background: snow;
}

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }